<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="dialect">org.hibernate.dialect.MySQL55Dialect</property>
        <property name="connection.url">jdbc:mysql://sql7.freesqldatabase.com:3306/sql7313101</property>
        <property name="connection.username">sql7313101</property>
        <property name="connection.password">ESdy1DIfPU</property>
        <property name="hbm2ddl.auto">update</property>
        <mapping class="pl.edu.agh.gastronomiastosowana.model.Critic"/>
        <mapping class="pl.edu.agh.gastronomiastosowana.model.Project"/>
        <mapping class="pl.edu.agh.gastronomiastosowana.model.ProjectGroup"/>
        <mapping class="pl.edu.agh.gastronomiastosowana.model.Rating"/>
        <mapping class="pl.edu.agh.gastronomiastosowana.model.Participant"/>
    </session-factory>
</hibernate-configuration>
